@* Social Media Section *@
<section class="clearfix">
    <div class="container-fluid sm-header-design  row-gutters-void clearfix">
        <div class="content-sm-header container row-gutters-void">
            <div id="social-media-link-section" class="col-sm-12 col-md-12 sm-icon-placement">
                <span class="link-icon-sm facebook">
                    <a href="#" target="_blank"></a>
                </span>
                <span class="link-icon-sm twitter">
                    <a href="#" target="_blank"></a>
                </span>
                <span class="link-icon-sm linkedin">
                    <a href="#" target="_blank"></a>
                </span>
                <span class="link-icon-sm instagram">
                    <a href="#" target="_blank"></a>
                </span>
            </div>
            <div style="display: none" id="search-query-section" class="col-sm-12 col-md-12 header-search-placement">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input id="searchbar-field" type="text" class="form-control input-lg typeahead" placeholder="Search Here"/>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<header class="clearfix">
    <div class="container-fluid header-design row-gutters-void clearfix">
        <div class="container row-gutters-void">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="icon-header-bar">
                            <a href="/">
                            </a>
                        </span>
                        @* @Html.ActionLink("Application name", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"}) *@
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-anchor-links">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                            <li>@Html.ActionLink("Apartment", "Index", "Property")</li>
                            <li>@Html.ActionLink("Property", "Index", "Search")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                            <li class="special-navigation">@Html.ActionLink("Inquiry", "Inquiry", "Home")</li>
                            <li onclick="toggleSearchBar()" class="search-icon"><span class="fa fa-search"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
