<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Ittehad Properties</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@Scripts.Render("~/bundles/jquery")
@RenderPage("_Header.cshtml")
@RenderBody()
@RenderPage("_Footer.cshtml")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/site")
@RenderSection("scripts", required: false)
<script src="https://kit.fontawesome.com/bd7f11377e.js" type="application/javascript"></script>
</body>
</html>
